.helena {
    background-color: #9d6666; }


.ryan {
    background-color: #73a4bb; 
}

.bleda {
    background-color: #73bb7e;
}

.melissa {
    background-color: rgb(215, 192, 73);
}


img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}


body {
    margin: 0%;
    padding: 20px;  
    align-items: center;
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;
   
    letter-spacing: 2px;
    text-shadow: 0 0 10px #dfd6d6;
}

h1 {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-shadow: 0 0 10px #b4afaf;
}

a {
    text-decoration: solid;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    text-align: center;
    
}