

header h1 {
    text-align: center;
    font-size: 70px;
}

header p {
    font-size: 20px;
    color: #7f8c8d;
    text-align: center;
    align-items: center;
}


body {
    background-color: #f4f7f6;
    color: #333;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    margin: 0 auto;
}

a {
    color: rgb(237, 100, 100);
    text-decoration: none;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

img {
    width: 250px;
    max-width: 240px;
    height: 160px;
    border-radius: 8px;
    margin-bottom: 10px;
    margin: 0 auto;
}

.paises {
    display: flex;
    flex-wrap: wrap;    
    justify-content: space-around;
    border-radius: 8px;
    background-color: #c3b4d8;
    padding: 20px;
    width: 100%;
    gap: 30px;             
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    flex-wrap: wrap;
    margin: 0 auto;
}

.atenas:hover, .lauterbrunnen:hover, .tromso:hover, .xangai:hover, .yokohama:hover{
    transform: scale(1.10);
    transition: 0.35s;
}

.atenas, .lauterbrunnen, .tromso, .xangai, .yokohama {
    padding: 15px;
    text-align: center;
    margin-bottom: 30px;
    transition: 0.35s;
    
}

.atenas:hover {
    background-color: rgb(95, 126, 144);;
    border-radius: 8px;
}

.atenas {
    background-color: rgb(132, 180, 208);
    border-radius: 8px;
}


.lauterbrunnen {
background-color: rgb(181, 145, 108);
    border-radius: 8px;
}

.lauterbrunnen:hover {
background-color: rgb(122, 100, 82);
    border-radius: 8px;
}


.tromso {
    background-color: rgb(115, 164, 107);
    border-radius: 8px;
}

.tromso:hover {
    background-color: rgb(64, 90, 60);
    border-radius: 8px;
}

.xangai {
    background-color: rgb(70, 48, 39);
    border-radius: 8px;
}

.xangai:hover {
    background-color: rgb(24, 16, 16);
    border-radius: 8px;
}

.yokohama {
    background-color: rgb(213, 71, 71);
    border-radius: 8px;
}

.yokohama:hover {
    background-color: rgb(138, 46, 46);
    border-radius: 8px;
    color: rgb(67, 19, 19);
}

.atenas a {
    color: rgb(227, 237, 255);
}

.lauterbrunnen a {
    color: antiquewhite;
}

.tromso a {
    color: rgb(238, 255, 231);
}

.xangai a {
    color: #ffe0c6;
}

.yokohama a {
    color: #ffc5c5;
}